.tracker {
  position: relative;
  width: 35%;
  height: 100vh;
  text-align: center;
  background: #fff;
  z-index: 1;
  border-radius: 10px;
}

.tracker__bg {
  position: relative;
  width: 100%;
  height: 25vh;
  text-align: center;
  background: #fff;
  z-index: 1;
  border-radius: 10px;
}
.tracker__bg::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #7011f5;
  border-radius: 0 0 65% 65% / 0 0 100% 100%;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tracker .tracker__heading {
  z-index: 2;
  color: #ffffff;
  padding-top: 10px;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
}

.tracker__balance {
  z-index: 2;
  position: absolute;
  top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  height: 140px;
  padding: 10px;
  width: 140px;
  border-radius: 50%;
  background: white;
  letter-spacing: 0.7px;
  box-shadow: 0 6px 6px rgba(77, 77, 77, 0.3);
}

.tracker__inc__exp {
  box-shadow: 0 6px 6px rgba(77, 77, 77, 0.2);
  margin: 4.4rem 0.8rem 0.8rem;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #f0f0f0;
  align-items: center;
  border-radius: 10px;
  line-height: 1.5;
}

.tracker__inc__exp .tracker__income h4 {
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: green;
}

.tracker__inc__exp .tracker__expense h4 {
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: red;
}

.transaction__history {
  /* border: 1px solid #000; */
}
.transaction__history p {
  text-align: left;
  margin: 14px 0px 0px 10px;
  letter-spacing: 0.8px;
  font-size: 1.1rem;
}

.transaction__lists {
  margin-top: 6px;
  height: 170px;
  overflow: auto;
}

.minus {
  border-left: 4px solid red;
}

.plus {
  border-left: 4px solid green;
}

.transaction__history .transaction__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem 1rem;
  margin: 0.6rem 1rem 0 0.9rem;
  background: #f0f0f0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.transaction__history .transaction__item:hover {
  text-decoration: line-through;
}

.add__transaction {
  position: absolute;
  bottom: 13px;
  left: 0;
}

.add__transaction p {
  text-align: left;
  margin: 10px 0px 0px 10px;
  letter-spacing: 0.8px;
  font-size: 1.1rem;
}

.add__transaction .form__control .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 15px 10px;
}

.add__transaction .form__control .input input {
  padding: 8px 10px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  outline: none;
}
.add__transaction .form__control .input .text {
  width: 60%;
  margin-right: 10px;
}

.add__transaction .form__control .input .amount {
  width: 40%;
}

.form__control button {
  padding: 8px 20px;
  border: none;
  outline: none;
  width: 80%;
  margin-top: 3px;
  background: #7011f5;
  font-size: 1.2rem;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form__control button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
/* ########### Media Query For Mobile ################# */
@media only screen and (max-width: 700px) {
  .tracker {
    width: 100%;
    border-radius: 0;
  }

  .tracker__bg::before {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
